<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318079444794-ktrk9vllb1tia79dltdqj63qjhpuhnss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318079444794-ktrk9vllb1tia79dltdqj63qjhpuhnss</string>
	<key>API_KEY</key>
	<string>AIzaSyDCF9PfingoqXBisGZe3ek-WBEYnZj01sk</string>
	<key>GCM_SENDER_ID</key>
	<string>318079444794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>surf.devip.print</string>
	<key>PROJECT_ID</key>
	<string>airprinter-7942b</string>
	<key>STORAGE_BUCKET</key>
	<string>airprinter-7942b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318079444794:ios:8d53991608291070675203</string>
</dict>
</plist>